<nav class="menu-horizontal navbar navbar-default">
    <div class="container-fluid">
        <ul class="edit-menu">
            <li>
                <div class="dropdown">
                    <a class="dropbtn dropdown" routerLink="incluir-faq">Cadastrar</a>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <a class="dropbtn dropdown" routerLink="consultar-faq/pagina/1">Consultar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>